## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\rverd\OneDrive\Bureaublad\Class Work\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.34,81,83,20.31,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,77.31,70,20,6.82,few clouds
2,2,Bonavista,CA,48.6499,-53.1147,33.80,72,68,25.93,broken clouds
3,3,Kapaa,US,22.0752,-159.3190,77.47,65,0,12.66,clear sky
4,4,Provideniya,RU,64.3833,-173.3000,23.36,86,100,13.00,heavy snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  70
What is the maximum temperature you would like for your trip?  90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.34,81,83,20.31,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,77.31,70,20,6.82,few clouds
3,3,Kapaa,US,22.0752,-159.3190,77.47,65,0,12.66,clear sky
9,9,Indramayu,ID,-6.3264,108.3200,78.66,83,86,7.54,overcast clouds
15,15,Kavieng,PG,-2.5744,150.7967,78.26,88,100,9.75,light rain
16,16,Avarua,CK,-21.2078,-159.7750,82.45,83,40,18.41,scattered clouds
17,17,Bambous Virieux,MU,-20.3428,57.7575,80.22,94,75,21.85,light rain
18,18,Corn Island,NI,12.1694,-83.0418,80.22,75,1,19.82,clear sky
24,24,Saint-Pierre,RE,-21.3393,55.4781,83.88,61,100,21.85,overcast clouds
26,26,Hilo,US,19.7297,-155.0900,82.13,74,75,8.05,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                254
City                   254
Country                252
Lat                    254
Lng                    254
Max Temp               254
Humidity               254
Cloudiness             254
Wind Speed             254
Current Description    254
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.34,81,83,20.31,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,77.31,70,20,6.82,few clouds
3,3,Kapaa,US,22.0752,-159.3190,77.47,65,0,12.66,clear sky
9,9,Indramayu,ID,-6.3264,108.3200,78.66,83,86,7.54,overcast clouds
15,15,Kavieng,PG,-2.5744,150.7967,78.26,88,100,9.75,light rain
16,16,Avarua,CK,-21.2078,-159.7750,82.45,83,40,18.41,scattered clouds
17,17,Bambous Virieux,MU,-20.3428,57.7575,80.22,94,75,21.85,light rain
18,18,Corn Island,NI,12.1694,-83.0418,80.22,75,1,19.82,clear sky
24,24,Saint-Pierre,RE,-21.3393,55.4781,83.88,61,100,21.85,overcast clouds
26,26,Hilo,US,19.7297,-155.0900,82.13,74,75,8.05,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.34,light rain,3.0707,172.7902,
1,Rikitea,PF,77.31,few clouds,-23.1203,-134.9692,
3,Kapaa,US,77.47,clear sky,22.0752,-159.3190,
9,Indramayu,ID,78.66,overcast clouds,-6.3264,108.3200,
15,Kavieng,PG,78.26,light rain,-2.5744,150.7967,
16,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,
17,Bambous Virieux,MU,80.22,light rain,-20.3428,57.7575,
18,Corn Island,NI,80.22,clear sky,12.1694,-83.0418,
24,Saint-Pierre,RE,83.88,overcast clouds,-21.3393,55.4781,
26,Hilo,US,82.13,broken clouds,19.7297,-155.0900,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.34,light rain,3.0707,172.7902,Isles Sunset Lodge
1,Rikitea,PF,77.31,few clouds,-23.1203,-134.9692,People ThankYou
3,Kapaa,US,77.47,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Indramayu,ID,78.66,overcast clouds,-6.3264,108.3200,Grand Trisula Hotel
15,Kavieng,PG,78.26,light rain,-2.5744,150.7967,Nusa Island Retreat
...,...,...,...,...,...,...,...
653,Auki,SB,82.90,overcast clouds,-8.7676,160.7034,Auki Motel
654,Bom Jesus Da Lapa,BR,77.77,overcast clouds,-13.2550,-43.4181,Hotel das Nações
655,Paracatu,BR,71.82,light rain,-17.2222,-46.8747,Hotel Paracatu Plaza
660,Redwater,US,79.09,overcast clouds,33.3582,-94.2544,Witterstaetter Properties
662,Saint Marys,US,77.05,clear sky,30.7305,-81.5465,Spencer House Inn

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace("", np.nan).dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.34,light rain,3.0707,172.7902,Isles Sunset Lodge
1,Rikitea,PF,77.31,few clouds,-23.1203,-134.9692,People ThankYou
3,Kapaa,US,77.47,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Indramayu,ID,78.66,overcast clouds,-6.3264,108.3200,Grand Trisula Hotel
15,Kavieng,PG,78.26,light rain,-2.5744,150.7967,Nusa Island Retreat
...,...,...,...,...,...,...,...
653,Auki,SB,82.90,overcast clouds,-8.7676,160.7034,Auki Motel
654,Bom Jesus Da Lapa,BR,77.77,overcast clouds,-13.2550,-43.4181,Hotel das Nações
655,Paracatu,BR,71.82,light rain,-17.2222,-46.8747,Hotel Paracatu Plaza
660,Redwater,US,79.09,overcast clouds,33.3582,-94.2544,Witterstaetter Properties
662,Saint Marys,US,77.05,clear sky,30.7305,-81.5465,Spencer House Inn

In [11]:
# 8a. Create the output File (CSV)
output_data_file = r"C:\Users\rverd\OneDrive\Bureaublad\Class Work\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))