## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\rverd\OneDrive\Bureaublad\Class Work\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.34,light rain,3.0707,172.7902,Isles Sunset Lodge
1,1,Rikitea,PF,77.31,few clouds,-23.1203,-134.9692,People ThankYou
2,3,Kapaa,US,77.47,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,9,Indramayu,ID,78.66,overcast clouds,-6.3264,108.3200,Grand Trisula Hotel
4,15,Kavieng,PG,78.26,light rain,-2.5744,150.7967,Nusa Island Retreat

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_df.set_index("City", inplace=True)
vacation_start = vacation_df.loc['Maxixe']
vacation_end = vacation_df.loc['Maxixe']
vacation_stop1 = vacation_df.loc['Chokwe']
vacation_stop2 = vacation_df.loc['Xai-Xai'] 
vacation_stop3 = vacation_df.loc['Manjacaze']

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[4], vacation_start[5])
end = (vacation_end[4], vacation_end[5])
stop1 = (vacation_stop1[4], vacation_stop1[5])
stop2 = (vacation_stop2[4], vacation_stop2[5])
stop3 = (vacation_stop3[4], vacation_stop3[5])

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([pd.DataFrame(vacation_start).transpose(), pd.DataFrame(vacation_end).transpose(), pd.DataFrame(vacation_stop1).transpose(), pd.DataFrame(vacation_stop2).transpose(), pd.DataFrame(vacation_stop3).transpose()],ignore_index=False
                        )
itinerary_df.reset_index(inplace=True)
itinerary_df = itinerary_df.rename(columns = {'index':'City'})
itinerary_df

,City,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Maxixe,542,MZ,74.59,few clouds,-23.8597,35.3472,Oceano
1,Maxixe,542,MZ,74.59,few clouds,-23.8597,35.3472,Oceano
2,Chokwe,450,MZ,73.67,scattered clouds,-24.5333,32.9833,Complexo Sonho Real
3,Xai-Xai,540,MZ,74.91,broken clouds,-25.0519,33.6442,Complexo da Familia
4,Manjacaze,259,MZ,70.68,scattered clouds,-24.7117,33.8828,Hotel Gani

In [71]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))